#app-container {
    height: 100%;
    padding: 20px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "menu-bar menu-bar"
        "menu-col page";
}

#app-container #menu-bar {
    padding-bottom: 20px;
    grid-area: menu-bar;
}

#app-container #menu-col {
    padding-right: 20px;
    grid-area: menu-col;
}

#app-container #page {
    grid-area: page;
}