<p-toast />

<div id="categories-container">
  @let categories = categoriesService.categories();
  @if (categories && categories.length > 0) {
    @for (category of categories; track category.id) {
      @if (category.level === 0) {
        <app-category-component 
          [category]="category"
          (onUpdated)="categoriesService.refresh()"
          (stateChange)="$event === 'selected' 
            ? level1SelectedCategory.set(category.id) 
            : level1SelectedCategory.set(null)"
          [state]="level1SelectedCategory() 
            ? (level1SelectedCategory() === category.id 
              ? 'selected' 
              : 'disabled') 
            : 'normal'"
        />
      }
    }

    @for (category of categories; track category.id) {
      @if (category.level === 1 && categoriesStateLevel() >= 1) {
        <app-category-component 
          [category]="category"
          (onUpdated)="categoriesService.refresh()"
          (stateChange)="$event === 'selected' 
            ? level2SelectedCategory.set(category.id) 
            : level2SelectedCategory.set(null)"
          [state]="level2SelectedCategory() 
            ? (level2SelectedCategory() === category.id 
              ? 'selected' 
              : 'disabled') 
            : (category.parent_id === level1SelectedCategory() 
              ? 'normal' 
              : 'disabled')"
        />
      }
    }

    @for (category of categories; track category.id) {
      @if (category.level === 2 && categoriesStateLevel() >= 2) {
        <app-category-component 
          [category]="category"
          (onUpdated)="categoriesService.refresh()"
          (stateChange)="$event === 'selected' 
            ? level3SelectedCategory.set(category.id) 
            : level3SelectedCategory.set(null)"
          [state]="level3SelectedCategory() 
            ? (level3SelectedCategory() === category.id 
              ? 'selected' 
              : 'disabled') 
            : (category.parent_id === level2SelectedCategory() 
              ? 'normal' 
              : 'disabled')"
        />
      }
    }
  }

  @if (categoriesStateLevel() <= 2) {
    <div id="categories-add-category-card">
      <p-inplace>
        <ng-template #display>
          <p-card>
            <i class="pi pi-plus"></i>
          </p-card>
        </ng-template>
        <ng-template #content let-closeCallback="closeCallback">
          <p-card>
            <form
              [formGroup]="addCategoryForm"
              (ngSubmit)="addCategory()"
            >
              <input 
                type="text"
                (blur)="closeInplaceForm(closeCallback, $event)"
                [pAutoFocus]="true"
                formControlName="name"
              />

              <p-button
                icon="pi pi-check"
                type="submit"
                (click)="closeInplaceForm(closeCallback, $event)"
              />
            </form>
          </p-card>
        </ng-template>
      </p-inplace>
    </div>
  }
</div>