#menu-bar-container {
    width: calc(100% - 40px);
    height: 52px;
    padding: 20px;
    margin: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--surface-color);
    border-radius: 6px;
}