#home-page-container {
    height: 100%;

    display: grid;
    grid-template-columns: minmax(220px, auto) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "categories-component transactions-table"
        "transaction-add-bar transaction-add-bar";
    gap: 20px;
}

#home-page-container #categories-component {
    grid-area: categories-component;

    overflow: auto;
}

#home-page-container #transactions-table {
    grid-area: transactions-table;
    
    overflow: hidden;
}

#home-page-container #transaction-add-bar {
    width: 100%;

    grid-area: transaction-add-bar;
}