<div id="home-page-container">
    <app-categories-component 
        id="categories-component"
        [(level1SelectedCategory)]="categories_id1"
        [(level2SelectedCategory)]="categories_id2"
        [(level3SelectedCategory)]="categories_id3"
    />
    <app-transactions-table 
        id="transactions-table"
    />
    <app-transaction-add-bar 
        id="transaction-add-bar"
        [level1SelectedCategory]="categories_id1()"
        [level2SelectedCategory]="categories_id2()"
        [level3SelectedCategory]="categories_id3()"
    />
</div>