#details-page-container {
    width: 100%;
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    overflow: hidden;
}

#details-page-container .details-tab {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}