#category-container {
    
}

#category-container ::ng-deep .p-card {
    width: 160px;
    height: 76px;

    border-radius: 6px;
}

#category-container ::ng-deep .p-card-body {
    width: 100%;
    padding: 0 !important;
}

#category-container ::ng-deep .p-card-content {
    padding-left: 12px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 12px;
}

#category-name {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#category-buttons {
    margin-top: 0.5px;
    
    display: flex;
    flex-direction: column;
}

#category-buttons :first-child ::ng-deep .p-button {
    border-top-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#category-buttons :last-child ::ng-deep .p-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
}

#category-container form input {
    all: unset;
    width: 100%;
    height: 100%;
}

#category-container form {
    min-height: 100%;

    display: flex;
    flex-direction: row;
}